.seperator
        div(style="height: 150px; overflow: hidden;")
            svg(viewbox="0 0 500 150" preserveaspectratio="none" style="height: 100%; width: 100%;")
                path(d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: black;")
.contact
    .info
        h2.white Lets work Together
        p.white Have a project you want to discuss or a question to ask?
        a.buttonCta.contactMe(href="/contact") Contact Me
        span.contactMeSpan(class="color color-white " data-value="1")
    .social
        .email
            img(src="/images/mail.svg")
            a(href="mailto:rodgersj097@gmail.com")
                h4.white rodgersj097@gmail
        .LI-profile-badge(data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="jacob-rodgers-41878b163")
            a.LI-simple-link(href="https://ca.linkedin.com/in/jacob-rodgers-41878b163?trk=profile-badge") Jacob Rodgers
.tradeMark
    p.center.white © Jacob Rodgers 2020. All rights reserved.
.contactPageFooter