extends layout 

block content
    .aboutMe
        h1.center A little about me
        p.center I graduated from Georgian College`s Computer Programming in 2019. Now I work developing and designing websites for my clients as well as consulting as a Web Analytics Developer for various companies. I focus on building sites that are fast, responsive and have the best seo strategy for your buisiness.
