doctype html
html
  head
    title Jacob Rodgers | Web Design & Developer
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    include partials/header
    block content
    include partials/footer
    block scripts
      script(type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer)
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
      script(src="/javascripts/main.js")