extends layout

block content
    h1.center A collection of my previous work
    .workPage
        .row
            a.workPageItem(href="")
                h3 Reflex Medical Center
                img(src="/images/reflexMonitorWorkPage.webp")
            a.workPageItem(href="")
                h3 The Music Box Timmins
                img(src="/images/musicBoxMonitorWorkPage.webp")
            a.workPageItem(href="")
                h3 Susan Reimer
                img(src="/images/susanReimer.webp")
        .row
            a.workPageItem(href="")
                h3 Kristen Johnson Marine
                img(src="/images/kristenJohnsonMarine.webp")
